@import url("/resources/tabler-icons.min.css");
@import url("variables.css");

@font-face {
  font-family: OpenSans;
  src: url(/resources/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(/resources/Quicksand-VariableFont_wght.ttf);
}

/* * {
  color: white;
} */

:root {
  font-family: Quicksand;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #2d3142;
  --main-color-11: #282b3a;
  --main-color-15: #262937;
  --main-color-25: #212431;
  --main-color-40: #1a1d27;
  --main-color-60: #12131a;

  /* background-size: contain; */
  /* background-size: 14px 14px; */
  background-color: rgb(60, 60, 60);

  /* background: linear-gradient(
    135deg,
    rgba(63, 63, 63, 1),
    #242424,
    rgba(36, 36, 36, 1)
  ); */

  background-position: center center;

  width: 100vw;
  height: 100vh;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

button {
  outline: none;
  border: none;
  background: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

/* ============================ */

.focus-drag {
  background-color: var(--main-color-4);
}

.drag-highlight {
  border: 2px solid red !important;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.just-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
